<a href="https://colab.research.google.com/github/mugdhav/IBMCert/blob/master/Data_Wrangling_Extra_Effort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import io
import matplotlib.pylab as plt
import numpy as np

In [4]:
from google.colab import files
uploaded = files.upload()

Saving clean_df.csv to clean_df.csv

In [0]:
df_clean = pd.read_csv("clean_df.csv")

In [6]:
df_clean.head()

   Unnamed: 0  symboling  ...  aspiration-std aspiration-turbo
0           0          3  ...               1                0
1           1          3  ...               1                0
2           2          1  ...               1                0
3           3          2  ...               1                0
4           4          2  ...               1                0

[5 rows x 31 columns]

In [7]:
df_clean["num-of-cylinders"].value_counts()

four      157
six        24
five       10
two         4
eight       4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64

In [10]:
dummy_var_cyl = pd.get_dummies(df_clean["num-of-cylinders"])
dummy_var_cyl.head()

   eight  five  four  six  three  twelve  two
0      0     0     1    0      0       0    0
1      0     0     1    0      0       0    0
2      0     0     0    1      0       0    0
3      0     0     1    0      0       0    0
4      0     1     0    0      0       0    0